%form{method: 'POST'}
  %label{for: :lang}
    = t(:lang)
    %select{name: :lang}
      %option{value: :en, selected: params[:lang] == 'en' } English
      %option{value: :ru, selected: params[:lang] == 'ru' } Русский
  %br
  %label{for: :waypoints}
    = t(:enter_wpts)
    %small= t(:awys_not_supported)
  %br
  %textarea{name: :waypoints, placeholder: 'UUWW BITSA GAMDI MB UWGG'}= @parsed_wpt_list
  %button= t(:compute_plan)

-if @error
  %h2 Oops!
  %code.error
    %pre= "%s: %s" % [@error.class, @error.message]

-if @result_fpl
  %h2= t(:computed_flight_plan)
  %code
    %pre= @result_fpl

-if @result_nvu
  %h2= t(:nvu_title)
  %p= t(:nvu_declutter)
  %code
    %pre= @result_nvu

-if @result_nas1
  %h2= t(:nas1_title)
  %code
    %pre= @result_nas1

-if @result_kln
  %h2= t(:kln_title)
  %p= t(:kln_explainer)
  %code
    %pre= @result_kln